
.floatRefresh {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    font: 14px/1 "Open Sans", helvetica, sans-serif;
}
.floatRefresh > div {
    line-height: 60px;
}

.floatLogout {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;

    font: 14px/1 "Open Sans", helvetica, sans-serif;
}
.floatLogout > div {
    line-height: 60px;
}

.my-float{
    margin-top:22px;
}
